@charset "UTF-8";

@font-face {
    font-family: louis;
    src: url(Louis\ George\ Cafe/);
}

*{
    font-family: 'louis', 'Courier New', Courier, monospace;
}

body,html{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

div#bg{
    display: block;
    position: relative;
    background-image: url(imgs/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    padding: 10px;
    margin: 0px;
}

img{
    display: block;
    position: absolute;
    width: 75vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#btts {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 150px;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(3px);
}


a,p{
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    line-height: 30px;
}